In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/Orders_Returns.csv')

In [3]:
df.head()

,Unnamed: 0,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,...,Quantity,Discount,Profit,Shipping.Cost,Order.Priority,Month,Year,Quarter,Returned,Region.y
0,1,40098,CA-2014-AB10015140-41954,2014-11-11,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,...,2,0.0,62.15,40.77,High,11,2014,4,NaN,NaN
1,2,26341,IN-2014-JR162107-41675,2014-02-05,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,...,9,0.1,-288.77,923.63,Critical,2,2014,1,NaN,NaN
2,3,25330,IN-2014-CR127307-41929,2014-10-17,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,...,9,0.1,919.97,915.49,Medium,10,2014,4,NaN,NaN
3,4,13524,ES-2014-KM1637548-41667,2014-01-28,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,...,5,0.1,-96.54,910.16,Medium,1,2014,1,NaN,NaN
4,5,47221,SG-2014-RH9495111-41948,2014-11-05,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,...,8,0.0,311.52,903.04,Critical,11,2014,4,NaN,NaN

In [6]:
#Make Returned a boolean 
def returned(order):
    if order == "Yes":
        return 1
    else:
        return 0
        

df.loc[:,'Returned'] = df.loc[:,'Returned'].apply(returned)

In [13]:
df.loc[:,'Ship.Date'] = df.loc[:,'Ship.Date'].apply(pd.to_datetime)
df.loc[:,'Order.Date'] = df.loc[:,'Order.Date'].apply(pd.to_datetime)

In [14]:
df.loc[:,'Process_Time'] = df['Ship.Date'] - df['Order.Date']

In [82]:
df['Process_Time'][0].days

int

In [71]:
df.groupby('Product.ID')['Returned'].sum().reset_index('Product.ID')

       Product.ID  Returned
0     FUR-BO-3174         0
1     FUR-BO-3175         0
2     FUR-BO-3176         1
3     FUR-BO-3177         0
4     FUR-BO-3409         0
...           ...       ...
3783  TEC-PH-6365         1
3784  TEC-PH-6413         1
3785  TEC-PH-6425         1
3786  TEC-PH-6427         0
3787  TEC-PH-6626         0

[3788 rows x 2 columns]

In [50]:
product_returns = df.groupby('Product.ID')['Returned'].sum().reset_index('Product.ID')
product_returns = product_returns.rename(columns = {'Returned': 'Num_Returns'})

In [74]:
new_df = df.merge(product_returns, on = 'Product.ID')

,Unnamed: 0,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,...,Profit,Shipping.Cost,Order.Priority,Month,Year,Quarter,Returned,Region.y,Process_Time,Num_Returns
0,1,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,...,62.15,40.770,High,11,2014,4,0,NaN,2 days,0
1,32218,36383,CA-2013-KN16390140-41338,2013-03-05,2013-03-09,Standard Class,KN-163901406,Katherine Nockton,Corporate,19120.0,...,-93.23,32.980,Medium,3,2013,1,0,NaN,4 days,0
2,2,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,...,-288.77,923.630,Critical,2,2014,1,0,NaN,2 days,2
3,374,4116,MX-2014-CM1271582-41885,2014-09-03,2014-09-05,First Class,CM-1271582,Craig Molinari,Corporate,NaN,...,232.00,328.659,Critical,9,2014,3,0,NaN,2 days,2
4,842,30218,ID-2015-MM1726078-42181,2015-06-26,2015-07-01,Standard Class,MM-1726078,Magdelene Morse,Consumer,NaN,...,82.26,222.780,Medium,6,2015,2,1,Southeastern Asia,5 days,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,50651,31494,CA-2015-VM21685140-42315,2015-11-07,2015-11-14,Standard Class,VM-216851406,Valerie Mitchum,Home Office,7090.0,...,12.03,5.170,Low,11,2015,4,0,NaN,7 days,0
51286,50721,36882,CA-2015-VP21730140-42339,2015-12-01,2015-12-05,Standard Class,VP-217301406,Victor Preis,Home Office,10011.0,...,163.82,64.390,High,12,2015,4,0,NaN,4 days,0
51287,50731,31656,CA-2015-VB21745140-42072,2015-03-09,2015-03-12,First Class,VB-217451408,Victoria Brennan,Corporate,31907.0,...,168.44,63.010,High,3,2015,1,0,NaN,3 days,0
51288,50949,35609,CA-2012-WB21850140-41216,2012-11-03,2012-11-10,Standard Class,WB-218501404,William Brown,Consumer,90045.0,...,139.99,28.250,Medium,11,2012,4,0,NaN,7 days,0
51289,51263,31316,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,...,16.01,14.750,High,8,2012,3,0,NaN,5 days,0